<li>
    <h3><%= faq.question %></h3>
    <p><%= faq.answer %></p>
    <select class="lang-selector" data-id="<%= faq._id %>">
      <option value="en">English</option>
      <option value="hi">Hindi</option>
      <option value="bn">Bengali</option>
    </select>
  </li>
  
  <script>
    document.querySelectorAll('.lang-selector').forEach(dropdown => {
      dropdown.addEventListener('change', async function() {
        const lang = this.value;
        const id = this.dataset.id;
        
        const res = await fetch(`/api/faqs/${id}?lang=${lang}`);
        const data = await res.json();
        if (data.success) {
          this.parentNode.querySelector('h3').innerText = data.data.content.question;
          this.parentNode.querySelector('p').innerHTML = data.data.content.answer;
        }
      });
    });
  </script>
  